version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: courses_api
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=db;Database=CoursesDb;User=sa;Password=Your_password123;TrustServerCertificate=True
    networks:
      - courses_network

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: courses_db
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    networks:
      - courses_network

volumes:
  sql_data:

networks:
  courses_network:
